<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Temiang" type="Temiang.Dal.Interfaces.esConfigSettings, Temiang.Dal.Core">
      <section name="connectionInfo" type="Temiang.Dal.Interfaces.esConfigSettings, Temiang.Dal.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>

  <Temiang>
    <connectionInfo default="LIVE">
      <connections>
        <add name="TRAINING" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=10.4.4.23;Initial Catalog=newdb2;uid=sa;pwd=ASD123qwe;" databaseVersion="2008"/>
        <add name="LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=10.4.4.23;Initial Catalog=KENCANA;uid=sa;pwd=ASD123qwe;" databaseVersion="2008"/>
        <add name="HIS_INTEROP" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="Temiang.Dal.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=10.4.4.23;Initial Catalog=HIS_INTEROP;uid=sa;pwd=ASD123qwe;" databaseVersion="2008"/>
      </connections>
    </connectionInfo>
  </Temiang>
  <appSettings>
    <add key="MpiUrl_bak" value="http://192.168.107.100/mpi/api.php?"/>
    <add key="MpiUrl" value="http://172.16.6.10/mpi/api.php?"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
